//- data come here
-
    var header = '#about-me'
    var imagePath = "asset/image/me.jpg"
    var myFullName = "Bogdan Negura"
    var myTitle = "Junior Web Developer"
    var slogan = 'A better me is coming.A better me is coming.A better me is coming'
    var achievement = {
        title:'achievement',
        content: `my life changed when i start to learn coding.I've built a custom SEO CMS That boosted search results position in Google's first place for tens of clients and their websites without any additional effort and minimum or no training`
    }

    var coolStuff = {
        title:'Grab CoolStuff',
        buttonList: [
            {
                url: 'https://github.com/BogdanNegura',
                icon: 'github',
                label: 'Click to visit the Github project source'
            },
            {
                url: "asset/doc/cv1.docx",
                icon: "file-word",
                label: "Click to download the full experience Microsoft Word version"
            },
            {
                url: "asset/doc/cv2.docx",
                icon: "file-word",
                label: "Click to download the full experience Microsoft Word version"
            }
        ]
    }
//- the view comes here

#about-me 
.about-me
    .about-me__header=header
    .about-me__avatar-wrapper
        img.about-me__avatar(src=imagePath)
    .about-me__full-name=myFullName
    .about-me__title=myTitle
    .about-me__slogan=slogan

    .about-me__title=achievement.title
    .about-me__content=achievement.content

    .about-me__title=coolStuff.title
    .about-me__link-list
        each button in coolStuff.buttonList
            a.about-me__link(href=button.url)
                span.about-me__link-description=button.label
                span(class=`my-cv-2__icon--${button.icon}`)